<main>
  <h1>{{title | uppercase }}</h1>
  <app-form (taskInfo)="taskHandler($event)"> </app-form>
  <section class="container">
    <div class="card">
      <div class="card__title">
        <i><img src="../assets/bars-progress-solid.svg" alt="bars-icon" /></i>
        <h3>To-Do</h3>
      </div>
      <div class="card__content">
        <ng-container *ngFor="let item of todo_list; let i = index">
          <app-task
            [task]="item"
            [index]="i"
            (delete)="deleteTaskHandler($event)"
            (itemForward)="moveItemHandler($event)"

          >
        
          </app-task>
        </ng-container>
        <ng-container *ngIf="todo_list.length; else empty"> </ng-container>
      </div>
    </div>
    <div class="card">
      <div class="card__title">
        <i><img src="../assets/bars-progress-solid.svg" alt="bars-icon" /></i>
        <h3>In Progres</h3>
      </div>
      <div class="card__content">
        <ng-container *ngFor="let item of inProgres_list; let i = index">
          <app-task
            [task]="item"
            [index]="i"
            (delete)="deleteTaskHandler($event)"
            (itemForward)="moveItemHandler($event)"
            
          >
          
          </app-task>
        </ng-container>
        <ng-container *ngIf="inProgres_list.length; else empty"> </ng-container>
      </div>
    </div>
    <div class="card">
      <div class="card__title">
        <i><img src="../assets/bars-progress-solid.svg" alt="bars-icon" /></i>
        <h3>Done</h3>
      </div>
      <div class="card__content">
        <ng-container *ngFor="let item of done_list; let i = index">
          <app-task
            [task]="item"
            [index]="i"
            (delete)="deleteTaskHandler($event)"
            (itemForward)="moveItemHandler($event)"
         
          >
          
          </app-task>
        </ng-container>
        <ng-container *ngIf="done_list.length; else empty"> </ng-container>
      </div>
    </div>
  </section>
</main>
<ng-template #empty> list is empty </ng-template>
<!-- (itemBack)="moveItemBackHandler($event)" -->